<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Airline Ticket Predictor</title>
    <link rel="stylesheet" href="static\style.css">
</head>

<body>
    <div class="body-div">
        <h1> Flight Ticket Price Predictor </h1>
        <span class="overview">
            <h3 class="text">This tool helps you get an idea of flight ticket prices quickly and easily for selected airlines and major cities only.<br>Just enter a few details, and it gives you an estimate to help with your travel plans.</h3>
        </span>
    
        <form class="form-div" method="post" action="/predict">
            <span class="row">
                <span class="left">
                    <label for="airline">Airline:</label><br>
                    <select required  name="airline">
                        <option value="" disabled selected >--Select--</option>
                        <option value="Vistara" {% if airline == Vistara %} selected {% endif %}>Vistara</option>
                        <option value="Air_India" {% if airline == Air_India %} selected {% endif %}>Air India</option>
                        <option value="Indigo" {% if airline == Indigo %} selected {% endif %}>Indigo</option>
                        <option value="GO_FIRST" {% if airline == GO_FIRST %} selected {% endif %}>Go First</option>
                        <option value="AirAsia" {% if airline == AirAsia %} selected {% endif %}>Air Asia</option>
                        <option value="Spicejet" {% if airline == SpiceJet %} selected {% endif %}>Spicejet</option>
                    </select>
                </span>
                <span class="right">
                    <label for="days_left">Days Left:</label><br>
                    <input value="{{days_left or ''}}" class="numeric_input"  required type="number" step="0.01" name='days_left'>
                </span>
            </span><br>
            <span class='row '>
                <span class="left">
                    <label for="from">From:</label><br>
                    <select required name="from_city" >
                        <option value="" disabled selected>--Select--</option>
                        <option value="Delhi"  {% if from_city == Delhi %} selected {% endif% }>Delhi</option>
                        <option value="Mumbai" {% if from_city == Mumbai %} selected {% endif %}>Mumbai</option>
                        <option value="Bangalore" {% if from_city == Bangalore %} selected {% endif %}>Bangalore</option>
                        <option value="Kolkata" {% if from_city == Kolkata %} selected {% endif %}>Kolkata</option>
                        <option value="Hyderabad" {% if from_city == Hyderabad %} selected {% endif %}>Hyderabad</option>
                        <option value="Chennai" {% if from_city == Chennai %} selected {% endif %}>Chennai</option>
                    </select>
                </span>
                <span class="right">
                    <label for="to">To:</label><br>
                    <select required name="to_city" >
                        <option value="" disabled selected>--Select--</option>
                        <option value="Delhi"  {% if to_city == Delhi %} selected {% endif% }>Delhi</option>
                        <option value="Mumbai" {% if to_city == Mumbai %} selected {% endif %}>Mumbai</option>
                        <option value="Bangalore" {% if to_city == Bangalore %} selected {% endif %}>Bangalore</option>
                        <option value="Kolkata" {% if to_city == Kolkata %} selected {% endif %}>Kolkata</option>
                        <option value="Hyderabad" {% if to_city == Hyderabad %} selected {% endif %}>Hyderabad</option>
                        <option value="Chennai" {% if to_city == Chennai %} selected {% endif %}>Chennai</option>
                    </select>
                </span>
            </span><br>
            <span class =row>
                <span class="left">
                    <label for="departure">Departure Time:</label><br>
                    <select required name="departure">
                        <option value="" disabled selected>--Select--</option>
                        <option value="Early_Morning" {% if departure == "Early_Morning" %} selected{%endif%}>Early Morning</option>
                        <option value="Morning"{% if departure==Morning %} selected {% endif %}>Morning</option>
                        <option value="Afternoon" {% if departure == Afternoon %} selected {% endif%}>Afternoon</option>
                        <option value="Evening" {% if departure == Evening %} selected {% endif %}>Evening</option>
                        <option value="Night"  {% if departure == Night %} selected {% endif %}>Night</option>
                        <option value="Late_Night"  {% if departure == Late_Night %} selected {% endif% }>Late Night</option>
                    </select>
                </span>
                <span class="right">
                    <label for="arrival">Arrival Time:</label><br>
                    <select required name="arrival" >
                        <option value="" disabled selected>--Select--</option>
                        <option value="Early_Morning" {% if arrival == "Early_Morning" %} selected{%endif%}>Early Morning</option>
                        <option value="Morning"{% if arrival==Morning %} selected {% endif %}>Morning</option>
                        <option value="Afternoon" {% if arrival == Afternoon %} selected {% endif%}>Afternoon</option>
                        <option value="Evening" {% if arrival == Evening %} selected {% endif %}>Evening</option>
                        <option value="Night"  {% if arrival == Night %} selected {% endif %}>Night</option>
                        <option value="Late_Night"  {% if arrival == Late_Night %} selected {% endif% }>Late Night</option>
                    </select>
                </span>
            </span><br>
            <span class="row row4">
                <label for="Stops">Stops:</label>
                <span class="stop-radio">
                <span>
                    <input type="radio" name="stops"  required value="zero" {% if
                        stops=='zero' %}checked{% endif %}>
                    <label>0</label>
                </span>
                <span>
                    <input type="radio" name="stops" value="one"{% if
                        stops=='one' %}checked{% endif %}>
                    <label>1</label>
                </span>
                <span>
                    <input type="radio" name="stops" value="two_or_more" {% if
                        stops=='two_or_more' %}checked{% endif %}>
                    <label>2 or more</label>
                </span>
                </span>
            </span><br>
            <span class="row">
                <label for="class">Class:</label>
                <span class="class-radio">
                    <span>
                        <input type="radio" name="class" value="Economy"{% if
                        stops=='Economy' %}checked{% endif %}  required>
                        <label>Economy</label>
                    </span>
                    <span>
                        <input type="radio" name="class" value="Business"{% if
                        stops=='Business' %}checked{% endif %} >
                        <label>Business</label>
                    </span>
                </span>
            </span><br>
            <span class="row row6">
                <label for="duration">Duration (hours):</label>
                <input class="numeric_input numeric_input_last" type="number"  step='0.01' required name="duration" value="{{duration or ''}}" >
            </span><br>
            <span class=" row">
                <button type="submit">Submit</button>
                <a href="/" name="reset">Reset</a>
            </span> 
        </form>
        <span class="result">
            {% if prediction %}
                <h3>Predicted Price:</h3>
                <h3>{{prediction}}</h3>
            {% endif %}
            {% if error_msg %}
                <h3 class="error">{{error_msg}}</h3>
            {% endif %}
        </span>
    </div>
</body>

</html>