<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Airline Ticket Predictor</title>
    <link rel="stylesheet" href="static\style.css">
</head>

<body>
    <div class="body-div">
        <h1> Flight Ticket Price Predictor </h1>
        <span class="overview">
            <h3 class="text">This tool helps you get an idea of flight ticket prices quickly and easily for selected airlines and major cities only.<br>Just enter a few details, and it gives you an estimate to help with your travel plans.</h3>
        </span>
    
        <form class="form-div" method="post" action="/predict">
            <span class="row">
                <span class="left">
                    <label for="airline">Airline:</label><br>
                    <select required  name="airline">
                        <option value="" disabled selected >--Select--</option>
                        <option value="Vistara">Vistara</option>
                        <option value="Air_India">Air India</option>
                        <option value="Indigo">Indigo</option>
                        <option value="GO_FIRST">Go First</option>
                        <option value="AirAsia">Air Asia</option>
                        <option value="Spicejet">Spicejet</option>
                    </select>
                </span>
                <span class="right">
                    <label for="days_left">Days Left:</label><br>
                    <input class="numeric_input"  required type="number" step="0.01" name='days_left'>
                </span>
            </span><br>
            <span class='row '>
                <span class="left">
                    <label for="from">From:</label><br>
                    <select required name="from_city" >
                        <option value="" disabled selected>--Select--</option>
                        <option value="Delhi">Delhi</option>
                        <option value="Mumbai">Mumbai</option>
                        <option value="Bangalore">Bangalore</option>
                        <option value="Kolkata">Kolkata</option>
                        <option value="Hyderabad">Hyderabad</option>
                        <option value="Chennai">Chennai</option>
                    </select>
                </span>
                <span class="right">
                    <label for="to">To:</label><br>
                    <select required name="to_city" >
                        <option value="" disabled selected>--Select--</option>
                        <option value="Delhi">Delhi</option>
                        <option value="Mumbai">Mumbai</option>
                        <option value="Bangalore">Bangalore</option>
                        <option value="Kolkata">Kolkata</option>
                        <option value="Hyderabad">Hyderabad</option>
                        <option value="Chennai">Chennai</option>
                    </select>
                </span>
            </span><br>
            <span class =row>
                <span class="left">
                    <label for="departure">Departure Time:</label><br>
                    <select required name="departure">
                        <option value="" disabled selected>--Select--</option>
                        <option value="Early_Morning">Early Morning</option>
                        <option value="Morning">Morning</option>
                        <option value="Afternoon">Afternoon</option>
                        <option value="Evening">Evening</option>
                        <option value="Night">Night</option>
                        <option value="Late_Night">Late Night</option>
                    </select>
                </span>
                <span class="right">
                    <label for="arrival">Arrival Time:</label><br>
                    <select required name="arrival" >
                        <option value="" disabled selected>--Select--</option>
                        <option value="Early_Morning">Early Morning</option>
                        <option value="Morning">Morning</option>
                        <option value="Afternoon">Afternoon</option>
                        <option value="Evening">Evening</option>
                        <option value="Night">Night</option>
                        <option value="Late_Night">Late Night</option>
                    </select>
                </span>
            </span><br>
            <span class="row row4">
                <label for="Stops">Stops:</label>
                <span class="stop-radio">
                <span>
                    <input type="radio" name="stops" value="zero" required>
                    <label>0</label>
                </span>
                <span>
                    <input type="radio" name="stops" value="one">
                    <label>1</label>
                </span>
                <span>
                    <input type="radio" name="stops" value="two_or_more">
                    <label>2 or more</label>
                </span>
                </span>
            </span><br>
            <span class="row">
                <label for="class">Class:</label>
                <span class="class-radio">
                    <span>
                        <input type="radio" name="class" value="Economy"  required>
                        <label>Economy</label>
                    </span>
                    <span>
                        <input type="radio" name="class" value="Business" >
                        <label>Business</label>
                    </span>
                </span>
            </span><br>
            <span class="row row6">
                <label for="duration">Duration (hours):</label>
                <input class="numeric_input numeric_input_last" type="number"  step='0.01' required name="duration" >
            </span><br>
            <span class=" row">
                <button type="submit">Submit</button>
                <a href="/" name="reset">Reset</a>
            </span> 
        </form>
        <span class="result">
            {% if prediction %}
                <h3>Predicted Price:</h3>
                <h3>{{prediction}}</h3>
            {% endif %}
            {% if error_msg %}
                <h3 class="error">{{error_msg}}</h3>
            {% endif %}
        </span>
    </div>
</body>

</html>